<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Details</title>
<style>
  body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .hidden {
    display: none;
  }
</style>
</head>

<body>
  <h1>Please Confirm Your Information</h1>

  <form id="personal-information" onsubmit="return handleSubmit(event)">
    <label for="id">ID</label>
    <input type="text" id="id" name="id" value="{{ data.id }}" required><br>
    <br>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{ data.name }}" required><br>
    <br>
    <label for="dob">Date of Birth</label>
    <input type="text" id="dob" name="dob" value="{{ data.dob }}" required><br>
    <br>
    <label for="gender">Gender</label>
    <input type="text" id="gender" name="gender" value="{{ data.gender }}" required><br>
    <br>
    <label for="address">Address</label>
    <input type="text" id="address" name="address" value="{{ data.address }}" required><br>
    <br>
    <button type="submit">Confirm</button>
    <br> <br> <br>
  </form>

  <script>
    function handleSubmit(event) {
      // Prevent the form from being submitted using the default method
      event.preventDefault();
      // Get the correct form element
      const form = document.getElementById('personal-information');
      
      // Check for empty fields
      const inputs = form.querySelectorAll('input[type="text"]');
      for (let input of inputs) {
        if (input.value.trim() === '') {
          alert('Please fill out all fields before submitting the form.');
          return;
        }
      }
      
      // For example, a success message:
      alert('Form submitted successfully!');
      // Redirect to the home page
      window.location.href = '/';
    }
  </script>
</body>
</html>
